/* @extend display-flex; */
display-flex, .form-flex, .form-row, .add-info-link, .form-radio-group {
  display: flex;
  display: -webkit-flex; }
  
.caishform input,.caishform select,.caishform textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

.caishform input::-webkit-outer-spin-button, .caishform input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

.caishform input:focus, .caishform select:focus, .caishform textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

.caishform input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

.caishform input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.caishform input[type=number] {
  -moz-appearance: textfield !important;
  appearance: none !important;
  -webkit-appearance: none !important; }

.caishform input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset; }

.caishform {
  width: 100%;
  max-width: 1600px;
  height:100%;
  margin: 0 auto 0 auto;
  background: #fff; 
  }
.caishformfull {
  width: 100%;
  height:100%;
  margin: 0 0 0 0;
  background: #fff; 
  }  
.caishformfullwithnav {
  width: calc( 100% - 200px);
  height:100%;
  margin: 0 0 0 200px;
  background: #fff; 
  } 
.caishformlist {
  width: 100%;
  max-width: 1600px;
  height:100%;
  margin: 0 auto 0 auto;
  background: #fff; 
  }


.caishform label,.caishform input, .caishform select, .caishform textarea {
  display: block;
  width: 100%; 
  color: Black;
  }

.caishbutton 
{
	color:white;	
	width:100%
}


.caishform label {
  text-transform: uppercase;
  margin-bottom: 3px; }
.caishform label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0; }
.caishform label.error:after {
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    content: '\f135';
    right: 31px;
    top: 40px;
    font-size: 13px;
    color: #c70000; }

.caishform input.error {
  border: 1px solid #c70000; }
.caishform select.error {
  border: 1px solid #c70000; }


  .caishform input[type=radio]:checked ~ .radio-check {
    border: 1px solid #329e5e; }
  .caishform input[type=radio]:checked ~ .radio-check::before {
    background: #329e5e; }

.caishform select 
{
  	  width:100%;
	  border: 1px solid #cfd8dc;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -o-border-radius: 5px;
	  -ms-border-radius: 5px;
	  box-sizing: border-box;
	  height:2.5rem;
	  padding: 10px;
	  font-size: 1em;
	  font-family: 'Fonts-Regular'; 
	  background: #fff;
	  }
	  
.caishform input, .caishform textarea {
	  border: 1px solid #ebebeb;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  -o-border-radius: 5px;
	  -ms-border-radius: 5px;
	  box-sizing: border-box;
	  padding: 10px 10px;
	  font-size: 1em;
	  font-family : 'Fonts-Regular'; }	  
.caishform input:focus {
    border: 1px solid #1da0f2; }
.caishform input::-webkit-input-placeholder {
    color: #999;
    font-weight:normal; }
.caishform input::-moz-placeholder {
    color: #999;
    font-weight: normal; }
.caishform input:-ms-input-placeholder {
    color: #999;
    font-weight: normal; }
.caishform input:-moz-placeholder {
    color: #999;
    font-weight: normal; }
.form-radio {
  margin-bottom: 40px; }
  .form-radio input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }    
  .form-radio input + label {
    margin: 0px;
    padding: 12px 10px;
    width: 94px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid #ebebeb;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
    text-transform: none;
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
  .form-radio input:checked + label {
    background-color: #1da0f2;
    color: #FFF;
    border-color: #1da0f2;
    z-index: 1; }
  .form-radio input:focus + label {
    outline: none; }
  .form-radio input:hover {
    background-color: #1da0f2;
    color: #FFF;
    border-color: #1da0f2; }

.form-flex input + label:first-of-type {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-right: none; }
.form-flex input + label:last-of-type {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-left: none; }

.form-row {
  margin: 0 -11px; 
  }
 
.form-row .form-group, .form-row .form-radio, .form-row .form-select {
    width: 50%;
    padding: 0 11px; }

.form-group100p, .form-radio100p {
    width: 100%;
    padding: 0 11px; }
    
.form-group, .form-group100p, .form-radio, .form-select {
  margin-bottom: 10px;
  position: relative; 
  }

.form-icon {
  position: relative; 
  }
  
.form-submit {
  width: auto;
  max-width:150px;
  background: #1da0f2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 16px 50px;
  float: left;
  border: none;
  margin-top: 37px;
  cursor: pointer; }
  
.form-submit:hover {
  background: #0c85d0; }
    
.ui-datepicker-trigger {
  position: absolute;
  right: 25px;
  top: 41px;
  color: #999;
  font-size: 18px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.add-info-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 16px;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
  .add-info-link .zmdi {
  font-size: 18px;
  padding-right: 14px; }

.add_info {
  display: none; }

.theform {
  padding: 5px 25px 0px 25px;
  height: 700px;  
  }
.theform2 {
  padding: 5px 25px 0px 25px;
  height: 700px;  
  }

.form-radio {
  margin-bottom: 18px; }
  .form-radio input {
    width: auto;
    display: inline-block; }

.radio-label {
  padding-right: 72px; }

.form-radio-group {
  padding-bottom: 10px;
  padding-top: 12px; }

.form-radio-item {
  position: relative;
  margin-right: 30px; 
  }

.form-radio-item label {
    font-weight: 500;
    padding-left: 30px;
    position: relative;
    z-index: 9;
    display: block;
    cursor: pointer;
    text-transform: none; }  
  
.radio-check {
  display: inline-block;
  position: absolute;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 18px;
  width: 18px;
  top: 2px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; 
  }
.radio-check:before {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear; 
    }
.mini-btn {
    z-index: 0;
    position: absolute;
    top: 45%;
    right: 8%;
    font-size: 20px;
    color: #999;
    font-weight: 600;    
}
	.caishbox
	{
		height:720px;
		min-height:130px;
		height:130px;		
	}    
 @media screen and (max-width: 480px) {
	.caishform {
	width: calc(100%);
	max-width: 100%; 
	margin: 0 auto 0 auto;	
	}    
	.caishformlist {
	width: calc(100%);
	max-width: 100%; 
	margin: 0 auto 0 auto;	
	}   	
	.caishbox
	{
		height:100%;
		min-height:130px;
		height:130px;		
	}
	
	.theform2 {
  padding: 5px 25px 0px 25px;
  height: 850px;  
  }
	 
	.form-submit 
	{
		width: 100%; 
		max-width : 100%;		
		margin-top: 10px;
	}						

	.form-row {
		flex-direction: column;
		-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-o-flex-direction: column;
			-ms-flex-direction: column; }
			
			.form-row .form-group, .form-group100p, .form-row .form-radio, .form-row .form-select {
			width: 100%;
			padding: 0 0px; 
			}	
		  .form-radio-group 
		  {
		flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column; 
		}	
		.mini-btn {
		right: 5%;
		top: 50%;
		color: #999;
		font-weight: 600;		
		}		
	    			
	}

    
    