<configuration>
	<appSettings>

    <add key="GroupKey" value="SEGIGROUPKEY"/>
    <add key="ConnStr" value="Provider=SQLOLEDB;Data Source=RGP-NURAFINI\SQLEXPRESS;Initial Catalog=storefront2u_app;User ID=sa;Password=admin1234"/>
    <add key="ConnStrCRM" value="Provider=SQLOLEDB;Data Source=RGP-NURAFINI\SQLEXPRESS;Initial Catalog=storefront2u_app;User ID=sa;Password=admin1234"/>
    <add key="filespath" value="C:\WorkArea\SOURCE\Projects\StoreFrontSuite\DB\Active\Documents\"/>
		<add key="filespathhttp" value="Documents/"/>
    <add key="themerchantid" value="POSPLUS"/>
    <add key="thefilter" value="Filter"/>    
	</appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'"/>
  </connectionStrings>
  <system.web>
		<pages buffer="true"  enableSessionState="true"  autoEventWireup="true" smartNavigation="true" validateRequest="false" enableEventValidation="false" />
		<sessionState mode="InProc" timeout="60" cookieless="false" />
		<customErrors mode="Off"/>
		<compilation debug="true" strict="false" />
		<httpModules>
			<remove name="Session" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule" />
		</httpModules>

  </system.web>

</configuration>

